.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.focus {
    float: left;
    width: 721px;
    height: 100%;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.lifeservice{
    overflow: hidden;
    height: 209px;
    border:1px solid #e4e4e4;
    border-top: 0;
}
/* 实测一行放不下，因为宽度超出了，所以我们要修改父级ul的宽度使得其能够一行显示四个 */
.lifeservice ul{
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.bargain {
    margin-top: 5px;
}
.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 5px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    float: right;
}
.news-hd .more::after {
    float: right;
    content: "\e917";
    font-family: 'icomoon';

}
.news-bd li {
    height: 24px;
    line-height: 24px;
    /* 下三句代码的意义是让超出一行的文字多出的部分使用省略号来表示 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news-bd a {
    font-size: 14px;
}
.news-bd {
    padding: 5px 15px 0;
}

/* 推荐模块 */
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}
.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recom_bd {
    float: left;
}
.recom_bd ul li {
    position: relative;
    float: left;
}
.recom_bd ul li:nth-child(-n+3):after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #ddd;
    margin-top: 10px;
    
}
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81632;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81632;
    font-weight: normal;
}
.tab_list{
    float: right;
    line-height: 30px;
}
.tab_list ul li {
    float: left;
    padding: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box_bd {
    height: 361px;
    background-color: #f9f9f9;
}
.tab_list_item > div {
    float: left;
}
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_210  ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}
.col_210  ul {
    padding-left: 12px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219 {
    width: 219px;
}
.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}