.w {
    width: 1200px;
    margin: 0 auto;
}
.header {
    height: 84px;
    border-bottom: 2px solid #c81532;
}
.logo {
    margin-top: 18px;
}
.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #c81532;
}
.reg_form {
    width: 600px;
    background-color: pink;
    margin: 50px 0 auto;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li input {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}